.verde {background-color: green;}
main {margin:  50px;}

.bianco {color: white;
        padding: 0 30px;
        text-align: center;
}
        
.flexi {display: flex;}
.card-body {margin:10px}
footer {height: 50px;
        background-color: black;
}

.iva {text-align: center;
        color: white;
        padding: 10px;
    }