 .btn-primary {
    background-color: $coloredietro;
    font-size: $font; border-radius: $borditondi;

    &:hover {
        background-color: $hbcolore;
    }

}

.btn-secondary {
    background-color: $coloredietro;
    font-size: $font; border-radius: $borditondi;

    &:hover {
        background-color:$hbcolore;}
}