@import 'variabili';
@import 'bottone';



header {
    width: $dimensioni; background-color: $sfondoprimo;
}

.container{display: flex;} 
.showcase-content {text-align: center;
margin-left: 50px;
}
.linea {display: inline;}

nav{position: relative;
    left: 20px;
    top: 25px;
}


.fotopc {width:$imglarghezza;
        height:$imgaltezza;
        margin-left: 25px;}
















