body {
    padding: 20px;
    background-color: antiquewhite;
}

#add {
    border-radius: 20px;
    background-color: rgb(253, 149, 21);
    font-weight: bold;
    color: black;
}

nav {
    background-color: brown;
}