body {
  font-family: "Ubuntu", sans-serif;
  background-color: azure; }

header {
  background-color: green;
  color: yellow;
  height: 50px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 5px 5px black;
  border-radius: 50%; }
  header li {
    display: inline;
    margin: 0 30px; }

a {
  color: yellow;
  text-decoration: none; }

h1 {
  text-align: center; }

article {
  width: 90%; }

aside {
  background-color: yellow;
  color: green;
  box-shadow: 2px 2px 5px;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 20px; }

@media screen and (min-width: 768px) {
  #main {
    display: flex; } }
