/* GENERALI */

html {font-size:62.5%;}

body {line-height: 1.8;
      font-size: 1.5rem;
      color: #000;
}
.button {background: rgb(64, 219, 255);
      background: linear-gradient(90deg, rgba(64, 219, 255, 1) 0%, rgba(165, 154, 173, 1) 100%);
      color: rgb(255, 255, 255);}

i {color: red;font-size: 2em;}

h1 {font-size: 5rem; color: white;}
h1>a {display: inline-block;text-align: center;width: 65px;}
.banner p {color: white;}
.banner {background-image: url(../images/banner.jpg);
        background-size: cover;
        height: 35vh;
        background-position: center center;
        padding: 20px;}
     
h3 {font-size: 1.9em;
margin-top: 20px;}

h5,h6 {font-size: 1.4em;}

p {font-size: 1.2em;}

#sfblu {background-color: rgb(2,2,95);
        height: 250px;padding:30px 50px;}
#sfblu>h3  {color: white;margin-bottom: 20px;}
#sfblu>p {color: white;margin-bottom: 20px;} 
#sfblu a {margin-top: 30px;}       

.margini {text-align: center;}
.margini div {margin-top: 30px;margin-bottom: 30px;line-height: 2.5em;padding: 0 50px;}
#notebook {text-align: center;display: inline;margin-top: 30px;}

footer {background-color: rgb(229, 226, 226);padding: 20px;}

#diverso {background: rgb(64, 219, 255);
      background: linear-gradient(90deg, rgba(64, 219, 255, 1) 0%, rgba(165, 154, 173, 1) 100%);
      color: rgb(255, 255, 255);display: block;width: 160;padding:0px;width: 170.4px;}

span {display: inline;}

div .form {width: 400px;margin: auto;}
aside {text-align: center; margin: 50px;}














a {display: inline;text-decoration: none;font-size: 0.8em;padding: 15px;}
nav {text-align:right;}